body {margin: 0;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
.example1 {
    width: 400px;
    height:  400px;
    background: goldenrod;
    color: red;
    display: grid;
    place-items: center;
}
.wrap {
    margin: 86px;
}




margin je 16 pox a šířka- 10 px