.wrap {
    margin: 0;
    padding: O;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.box1 {
    height: 50px;
    margin: 16px;
    padding: 54;
    color: red;
    background-color: blue;
    place-items: center;
    display: grid;

}
.box2{
    height: 50px;
    margin: 16px;
    padding: 54;
    color: red;
    background-color: blue;
    place-items: center;
    display: grid;

}
.box3 {
    height: 50px;
    margin: 16px;
    padding: 54;
    color: red;
    background-color: blue;
    place-items: center;
    display: grid;

}