P{
    color:red;
    font-size:
}
body {
    background-color: darkturquoise;
    front- font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
<h1 {color: aliceblue}
div{background-color: cornsilk;
border-radius: 10px ;
padding: 20px;
margin: 20px;}
header {text-align:;}
.info{color: blue}
#tzftzrfiýžz{color: black;}