.panel {
    width: 400px;
    height: 400px;
    background-color: brown;
    margin-bottom: 16px;
    border-width: 16px;
    border-style: solid;
    border
}

.ijfdikgjikd {
    width: 400px;
    height: 400px;
    ;
    background-color: khaki;
}

.wrap {
    margin: 48px;
}

.card {
    width: 400px;
    height: 400px;
    background: hotpink;
    margin-bottom: 24px;
    border: 5px solid blue
}